
/*************************/
/* stylesheet de timothé */
/*************************/
@import url(fonts.css);

/*************/
/* VARIABLES */
/*************/
:root{
    --dark-color: #181818;
    --light-color: #eeeeee;

    --primary-color: #6f15ff;
    --second-color: #c84a3f;
    --third-color: #ecef4a;

    --width-default: 1px;
    --border-: solid var(--dark-color) var(--width-default);
    --color-border: white;
}


/***********/
/* ALL PAGE */
/***********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-moz-selection {
    color: var(--light-color);
    background-color: var(--dark-color);
}
::selection {
    color: var(--light-color);
    background-color: var(--dark-color);
}
body{
    /* background-color: var(--light-color); */
    background-color: var(--dark-color);
    color: var(--light-color);
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* h1, h2, h3, h4, h5, h6, p, li, a{
    font-family: "Poppins"; 
    font-size: 1em;
    line-height: 2em;
} */
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
#tuto{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-family: sans-serif;
}


/* titre chapitre */
.content-txt{
    font-size: 2em;
    font-weight: 600;
    color: var(--light-color);
    /* cursor: pointer; */
    user-select: none;
    text-align: center;
    margin: 30px;
}
.content-txt > h2{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    /* border-bottom: 2px solid var(--color-border); */
}
.content-txt .char{
    font-family: "Anybody";
    text-transform: uppercase;
    font-variation-settings: "wght" var(--wghtFont), "wdth" var(--wdthFont), "slnt" var(--slntFont);
    /* font-variation-settings: "wght" var(--wghtFont), "wdth" var(--wdthFont), "slnt" var(--slntFont), */
}
h2 .whitespace{
    /* display: inline-block; */
    min-width: 30px;
}
h1, h3{
    display: inline-block;
}
h3{
    display: block;
    font-size: 1em;
}
h2{
    margin-left: 50px;
}

span.char span{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    /* animation: displayLetter 100ms backwards; */
}
@keyframes displayLetter{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}